fastapi
uvicorn
openai
pydantic
python-dotenv
chromadb
langchain-community
langchain-text-splitters
langgraph
sentence-transformers
pypdf
ragas
langchain-openai
langchain-google-vertexai
datasets
mcp
